*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    color: white;
    padding: 7% 20% 7% 20%;
    font-family: Arial, Helvetica, sans-serif;
}
button{
    font-size: 16px;
    padding: 15px 55px 15px 55px;
    margin-top: 5%;
}
p{
    font-size: 50px;
    padding-bottom: 20px;
    margin-bottom: 2%;
}
#name,#email,#password,#Cpassword,#dob,.radio{
    border: none;
    font-size: 18px;
    color: white;
    background-color: black;
    padding-bottom: 10px;
    outline: none;
}
::placeholder{
    color: #adadadff;
    background-color: black;
    border: none;
    font-size: 18px;
    font-weight: 100;
}
#dob{
    box-sizing: 84px;
}
input[type=checkbox] {
    appearance: none;
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background-color: #000;
    margin-right: 10px;
    position: relative;
    cursor: pointer;
    outline: none;
    border: 1px solid white;
  }
  input[type=checkbox]:checked::after {
    content: "";
    position: absolute;
    left: 4px;
    width: 4px;
    height: 9px;
    border: 2px solid #fff;
    border-top: none;
    border-left: none;
    transform: rotate(45deg);
  }
input[type=radio] {
    appearance: none;
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background-color: #000;
    margin-right: 10px;
    position: relative;
    cursor: pointer;
    outline: none;
    border: 1px solid white;
    border-radius: 50%;
  }
  input[type=radio]:checked::after {
    content: "";
    position: absolute;
    left: 4px;
    width: 4px;
    height: 9px;
    border: 2px solid #fff;
    border-top: none;
    border-left: none;
    transform: rotate(45deg);
    border-radius: 50%;
  }
